
.timer_div {
		box-sizing: border-box;
		position:fixed;
		z-index:200;
		right:0;
		width:138px;
		bottom:0;
		height:40px;
		background:#fff;
		text-align:center;
		color:white;
		font-size:18px;
		line-height:18px;
		font-family:arial;
		line-height:40px;
		padding:5px 0 0 5px;
		border-top-left-radius: 5px;
		border-left: 1px solid #555;
		border-top: 1px solid #555;
	}

.pause {
	display:none;
	float:left;
	margin-top:5px;
}

.pause_bar {
	float:left;
	margin-right:4px;
	width: 4px;
	height: 16px;
	background-color:black;
}

.play {
	float:left;
	margin-top:5px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid black;
}


